/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&family=Satisfy&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Css Files */
@import url('components/banner/banner.css');
@import url('components/buttons/button.css');
@import url('components/card/card.css');

/* Utilities */
body {
  margin: 0 0 0 0;
  padding: 0
  font-family: Open Sans;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.how-works {
  display: flex;
}

.footer {
    background-color: #5F5F5F5F;
    padding: 50px;
    color: white;
}

.footer h4 {
  margin: 0 auto;
  text-align: center;
}

.social-icons {
  display: flex;
  font-size: 40px;
  text-align: center;
  width: 200px;
  justify-content: center;
  margin: 0 auto;
  color: white;
  margin: 0 auto;
  justify-content: space-evenly;
}

i {
  color: white
}


